---
title: "IRC Presence"
author: Bob McWhirter
date: 2008-12-29
layout: post
---
<p>For anyone wanting to "chat" in real-time, there are two channels on <a title="Freenode Website" href="http://freenode.net/">Freenode IRC</a> I try to keep active when I'm online:</p>
<p>Point your IRC client to <strong>irc.freenode.net</strong> and join <a title="JBoss-Rails IRC channel" href="irc://irc.freenode.net/jboss-rails"><strong>#jboss-rails</strong></a> or <a title="JBoss-Cloud IRC channel" href="irc://irc.freenode.net/jboss-cloud"><strong>#jboss-cloud</strong></a>.&nbsp; I'm "bobmcw" on Freenode.</p>
<p>The <strong>#jruby</strong> and <strong>#jboss</strong> channels are also useful.</p>
