---
title: "Mailing Lists for JBoss-Rails and JBoss-Cloud"
author: Bob McWhirter
date: 2008-11-10
layout: post
---
<p>Thesis 1, <a href='/theses/jboss-rails' title='Thesis: JBoss-Rails'>Rails can run well on JBoss</a> has a mailing list now.&nbsp; To subscribe, send a message to</p>
<blockquote>
<p><a href='mailto:jboss-rails-subscribe@oddthesis.org  ' title='Subscribe to jboss-rails'>jboss-rails-subscribe@oddthesis.org</a></p>
</blockquote>
<p>Thesis 2, <a href='/theses/jboss-cloud' title='Thesis: JBoss-Cloud'>JBoss can run well on the Cloud</a> also has a list.&nbsp; To subscribe, send a message to</p>
<blockquote>
<p><a href='mailto:jboss-cloud-subscribe@oddthesis.org' title='Subscribe to jboss-cloud'>jboss-cloud-subscribe@oddthesis.org</a></p>
</blockquote>
<p>Each list supports all of the projects clustered around the thesis.</p>
