---
title: "RPMs of JBoss Things"
author: Bob McWhirter
date: 2008-12-29
layout: post
---
<p>To build disk images for the JBoss-Cloud project, I had to build RPMs for the pieces I needed.</p>
<p>Now I share those RPMs with you.&nbsp; Many of them are <strong>noarch</strong>, since they're just Java bits.&nbsp; The actual binary RPMs are compiled against 32-bit i386 Fedora 10.</p>
<p>The noarch RPMs include:</p>
<ul>
<li><a title="JBoss AS 5 RPM" href="http://repo.oddthesis.org/yum/RPMS/noarch/jboss-as5-5.0.0.GA-1.noarch.rpm">JBoss AS 5.0.0</a></li>
<li><a title="JBoss-Rails deployer RPM" href="http://repo.oddthesis.org/yum/RPMS/noarch/jboss-rails-1.0.0.Beta3-1.noarch.rpm">JBoss-Rails Deployer for AS 5</a></li>
<li><a title="JBoss mod_cluster for AS 5 " href="http://repo.oddthesis.org/yum/RPMS/noarch/as5-mod_cluster-1.0.0.Beta2-1.noarch.rpm">JBoss mod_cluster bits for AS 5</a></li>
<li><a title="JBoss JGroups RPM" href="http://repo.oddthesis.org/yum/RPMS/noarch/jboss-jgroups-2.6.7.GA-1.noarch.rpm">JBoss JGroups</a></li>
</ul>
<p>In the binary space, there's just</p>
<ul>
<li><a title="JBoss mod_cluster for Apache httpd RPM" href="http://repo.oddthesis.org/yum/RPMS/i386/httpd-mod_cluster-1.0.0.Beta2-1.i386.rpm">mod_cluster for Apache httpd</a></li>
</ul>
<p>Additionally, the <a title="Yum repositories" href="http://repo.oddthesis.org/yum/">whole bit is setup as yum repositories</a>.</p>
<p>And if these RPMs don't suit your need, there's also the <a title="Source RPMs" href="http://repo.oddthesis.org/yum/SRPMS/">bundle of SRPMs</a>.</p>
