---
title: "And now, something slightly different"
author: Bob McWhirter
date: 2008-8-28
layout: post
---
<p>Back in May, I was a manager.</p>
<p>I feebly attempted to direct 8 great guys and gals to further the goals of JBoss.org.&nbsp; After the Codehaus, you&rsquo;d think I&rsquo;d be able to help build an opensource community with fun and flair.&nbsp; But I came to realize that it&rsquo;s hard to build a community as an active effort.&nbsp; Instead, I think community develops as a by-product of a useful and well-run project.&nbsp; And that&rsquo;s under the control of the project leaders and contributors, not necessarily some external third party.</p>
<p>Back in May, I gave up being a manger.</p>
<p>Now, the day after Labor Day, fittingly enough, I&rsquo;ll be jumping back into the world of JBoss.&nbsp; But <strong>not as a manager</strong>. When I was burned out and felt like resigning, <a href='http://blog.athico.com/' title='Proctor&apos;s Drools blog'>Mark Proctor</a> and <a href='http://sacha.labourey.com/' title='Sacha&apos;s Blog'>Sacha Labourey</a> instead talked me into taking a sabbatical.&nbsp; And I&rsquo;m truly grateful to them.&nbsp; Now, after unwinding for a few months, I asked to rejoin the team as an engineer.  Through Sacha&rsquo;s patience and budget manipulation, I&rsquo;m once again excited to go to work.&nbsp; I think JBoss should definitely be held up as a company that takes care of its people.&nbsp; They could&rsquo;ve easily given me the boot, but instead they&rsquo;ve been extremely kind and accommodating.</p>
<p>So, what will I be doing?</p>
<p>After talking to Java developers and Rubyists alike, my first goals are to look at Rails as just-another-way to write J2EE apps (or &ldquo;JEE&rdquo; I reckon, these days&hellip;).&nbsp; Yes, I know about (and plan to use) things like <a href='http://blog.nicksieger.com/articles/2007/09/04/warbler-a-little-birdie-to-introduce-your-rails-app-to-java' title='Warbler'>Warbler</a> and <a href='http://blog.nicksieger.com/articles/2008/05/08/introducing-jruby-rack' title='JRuby-Rack'>JRuby-Rack</a>.&nbsp; Both are good things.</p>
<p>But I also have full control of the deployment environment, to build a stack to make it happier than &ldquo;build and deploy a WAR&rdquo;.</p>
<p>Through the miracle of <a href='http://www.jboss.org/jbossas/' title='JBossAS'>AS5</a> built on <a href='http://www.jboss.org/jbossmc/' title='JBossMC'>JBossMicrocontainer</a>, along with the awesome <a href='http://repository.jboss.org/maven2/org/jboss/jboss-vfs/' title='JBossVFS'>VFS</a> bits, it should be possible to deploy a Rails app in-situ, right from your working directory.&nbsp; There should be no reason to have to build a WAR while you&rsquo;re hacking a rails app.&nbsp; And deployment to a server should still involve capistrano (in my opinion).&nbsp; Stick to the Rails way of doing things, but make it Java under the covers.</p>
<p>Various blog posts have shown Rails apps on Glassfish in 12, 10, or 5 steps.&nbsp; My goal is to get it down to 1 step. And you should magically be able to pick up and use all the wonderful JEE bits that maps to the Rails functionality the Railers of the world enjoy, without having to be aware of the JEE bits.</p>
<p>Speaking with Mark Newton (the guy who runs JBoss.org now), it seems sensible to view Rails as simply yet-another-programming-model for writing Java apps.&nbsp; The idea is to avoid leaky abstractions, so we&rsquo;re not having to write some psuedo RubyJava application.</p>
<p>Once we&rsquo;ve got that base covered, then we can make fun and exciting Ruby bindings to all the powerful JBoss tools, such as Drools, ESB, Cache or MQ.</p>
<p>I expect to have a bit of fun with this.&nbsp; More fun than being a manager, certainly.</p>
