---
title: "JBoss-Rails 1.0 Beta 3 Released"
author: Bob McWhirter
layout: post
---
<p>I'm happy to announce the 3rd beta of JBoss-Rails.</p>
<p>This release includes updates of JRuby to 1.1.6 and JRuby-Rack to 0.9.3.&nbsp; It also adjusts our own version-numbering scheme to be JBoss and RPM-compatible.</p>
<p>Like last time, you can grab either just the deployer distribution, or a bundle that includes JBoss AS5 for JDK6.&nbsp; The bundle uses the public 5.0.0.GA release we all celebrated a week or three ago.</p>
<p>Here's the fun bits:</p>
<ul>
<li><strong>Just the deployer</strong>: <a title="Just the JBoss-Rails deployer (no AS5)" href="http://repo.oddthesis.org/deployers/jboss-rails-deployer-1.0.0.Beta3.zip">jboss-rails-deployer-1.0.0.Beta3</a></li>
<li><strong>AS5 plus deployer</strong>:<a title="JBoss AS5 plus JBoss-Rails bundle" href="http://repo.oddthesis.org/bundles/jboss-5.0.0-jdk6-rails-1.0.0.Beta3.zip"> jboss-5.0.0-jdk6-rails-1.0.0.Beta3</a></li>
</ul>
<p>Feel free to leave comments on this blog post, or subscribe to the <a title="jboss-rails list archive" href="http://oddthesis.markmail.org/search/?q=#query:list%3Aorg.oddthesis.jboss-rails+page:1+state:facets">jboss-rails</a> mailing list by sending a message to</p>
<ul>
<li><a title="Subscribe to jboss-rails" href="mailto:jboss-rails-subscribe@oddthesis.org">jboss-rails-subscribe@oddthesis.org</a></li>
</ul>
<p>&nbsp;</p>
