---
title: "Mailing Lists for JBoss-Rails and JBoss-Cloud"
author: Bob McWhirter
layout: post
---
<p>Thesis 1, <a title="Thesis: JBoss-Rails" href="/theses/jboss-rails">Rails can run well on JBoss</a> has a mailing list now.&nbsp; To subscribe, send a message to</p>
<blockquote>
<p><a title="Subscribe to jboss-rails" href="mailto:jboss-rails-subscribe@oddthesis.org  ">jboss-rails-subscribe@oddthesis.org</a></p>
</blockquote>
<p>Thesis 2, <a title="Thesis: JBoss-Cloud" href="/theses/jboss-cloud">JBoss can run well on the Cloud</a> also has a list.&nbsp; To subscribe, send a message to</p>
<blockquote>
<p><a title="Subscribe to jboss-cloud" href="mailto:jboss-cloud-subscribe@oddthesis.org">jboss-cloud-subscribe@oddthesis.org</a></p>
</blockquote>
<p>Each list supports all of the projects clustered around the thesis.</p>
