---
title: "Capistrano deployment for JBoss-Rails"
author: Bob McWhirter
date: 2008-11-13
layout: post
---
<p>I've knocked together <a title="Using the Capistrano recipes" href="/theses/jboss-rails/projects/jboss-rails-plugin/pages/using-the-capistrano-recipes">some documentation</a> about using the Capistrano support in the JBoss Rails Plugin.&nbsp;</p>
<p>The goal is to make it easy for people used to deploying traditional Rails apps.&nbsp;</p>
<p>After a few settings in your Capistrano deploy.rb file, you simply do what you normally do to deploy your app.&nbsp; Assuming <a title="JBoss Rails installation instructions" href="/theses/jboss-rails/projects/jboss-rails/pages/installation">you've got JBoss setup on your server</a> to replace your pack of mongrels...</p>
<pre>cap deploy</pre>
<p>That's it.&nbsp; You're done.</p>
