---
title: "Reminder: RaleighRubyCamp"
author: Bob McWhirter
date: 2008-9-30
layout: post
---
<p>Don&#8217;t forget, in a few weeks at the <a title="Red Hat in Raleigh" href="http://www.redhat.com/about/contact/ww/americas/raleigh.html">Red Hat offices in Raleigh</a>, there will be an unconference-style <a title="RaleighRubyCamp" href="http://barcamp.pbwiki.com/RaleighRubyCamp">Ruby BarCamp</a> on October 18th.</p>
<p style="text-align: center;"><a href="http://barcamp.pbwiki.com/RaleighRubyCamp"><img class="aligncenter size-medium wp-image-535" title="raleigh-rubycamp" src="http://www.fnokd.com/wp-content/uploads/2008/09/raleigh-rubycamp-300x106.png" alt="" width="300" height="106" /></a></p>
<p>My plan is to put together a few clumps of slides, prepare a cluster on EC2, and see if anyone wants to hear about JBoss Rails.  I&#8217;ll of course put them online sometimes before/during/after the camp, since that&#8217;s <a title="BarCamp rules" href="http://barcamp.pbwiki.com/TheRulesOfBarCamp">part of the rules</a>.</p>
