---
title: "Overview Presentation"
author: Bob McWhirter
date: 2008-11-17
layout: post
---
<p>Tomorrow I'm scheduled to present at the fortnightly internal JBoss R&amp;D call.&nbsp; It's just a routine hugfest where the engineers who care to dial in have a group meeting.&nbsp; Normally someone presents their recent work.<br /><br />Since this is an open-source company, and I ain't got no secrets, I figured this would be the best way to <a title="Download presentation (PDF)" href="/system/assets/oddthesis-jboss-r-and-d.pdf">distribute my slides (PDF)</a>, instead of choking the mail-server.</p>
<p><a title="Download presentation (PDF)" href="/system/assets/oddthesis-jboss-r-and-d.pdf"><img src="/system/assets/oddthesis-preso-thumb.png" alt="R&amp;D Presentation" width="300" height="225" /></a></p>
<p>They attempt to explain the thought process behind these projects and their future.</p>
