---
title: "List Archives"
author: Bob McWhirter
date: 2008-11-13
layout: post
---
<p>Thanks to Jason Hunter and the friendly kids at <a href='http://markmail.org/' title='MarkMail'>MarkMail</a> (a free service provied by <a href='http://www.marklogic.com/' title='Mark Logic Corporation'>Mark Logic</a>), we've now got a swell mailing list archive.</p>
<blockquote>
<p><a href='http://oddthesis.markmail.org/search/?q=' title='Odd Thesis archives at MarkMail'>http://oddthesis.markmail.org/search/?q=</a></p>
</blockquote>
<p>&nbsp;</p>
