---
title: "JBoss on Rails"
author: Bob McWhirter
date: 2008-9-22
layout: post
---
<p>Tomorrow is my first real status update call with my boss, <a title="Sacha's blog" href="http://sacha.labourey.com/">Sacha Labourey</a>.  I&#8217;ve been anxious to deliver something, to prove I hadn&#8217;t gone <em>completely</em> pudding-brained during my tenure as management.</p>
<p>This morning, it all finally came together in a pleasing fashion, causing me to hoot and holler loud enough to scare the cats and probably some cows.</p>
<p><a href="http://www.fnokd.com/wp-content/uploads/2008/09/picture-22.png"><img class="aligncenter size-full wp-image-485" title="Cows" src="http://www.fnokd.com/wp-content/uploads/2008/09/picture-22.png" alt="" width="229" height="134" /></a></p>
<p>I&#8217;ve just <a title="jboss-rails" href="http://github.com/bobmcwhirter/jboss-rails/tree/master">pushed an ugly-but-working deployer</a> targeting <a title="JBoss-AS" href="http://www.jboss.org/jbossas/downloads/">JBoss-AS 5.0.0.CR2</a> (the latest and greatest!)</p>
<p>It&#8217;s not very consumable at this point, as it&#8217;s just a deployer, not a nice Rails plugin with a set of Rake tasks.  Heck, it doesn&#8217;t even <em>undeploy</em> yet.</p>
<p>But adding the deployer to your server&#8217;s <code>deployers/</code> directory allows you symlink live <code>RAILS_ROOT</code>s into your <code>deploy/</code> directory, and be running on JBoss.</p>
<p>Live.  In-situ.  Edit your controllers or views as you like, and your changes are immediately reflected in the running instance.  Just like with <code>./script/server</code>.  It does not even have to redeploy your app.  The rails framework is handling the magic reloading.</p>
<p><a href="http://www.fnokd.com/wp-content/uploads/2008/09/picture-21.png"><img class="aligncenter size-full wp-image-484" title="Hello World" src="http://www.fnokd.com/wp-content/uploads/2008/09/picture-21.png" alt="" width="237" height="55" /></a></p>
<p>It&#8217;s taken me some time to dig through the innards of JBoss-Microcontainer, and a few false starts, but I finally figured out a super simple deployment process.</p>
<p>I&#8217;d previously been trying to manipulate a <code>RAILS_ROOT</code> into a synthetic Java WAR archive, and shoe-horn things around that.  But I have the freedom to go lower than that, so the jboss-rails deployer just sets up a Catalina context appropriately, without regard to <code>WEB-INF</code> or other non-Rails stuff.  There&#8217;s no need for that cruft.  Likewise, I can directly control and manipulate the classpath, so the <code>RAILS_ROOT</code> does not even have to have any JRuby bits in it.</p>
<p>The example application (<a title="ballast test application" href="http://github.com/bobmcwhirter/jboss-rails/tree/master/src/test/ballast">src/test/ballast</a>) is a virgin rails app with ActiveRecord disabled so I don&#8217;t have to deal with database-driver gems just yet.</p>
<p>Once deployed, a Rails app looks like pretty much any other web-app.  The jboss.rails.deployment domain contains deployment objects for each rails app.  And jboss.web contains all the webby bits floating around.</p>
<p><a href="http://www.fnokd.com/wp-content/uploads/2008/09/picture-20.png"><img class="aligncenter size-full wp-image-483" title="Deployment MBean" src="http://www.fnokd.com/wp-content/uploads/2008/09/picture-20.png" alt="" width="217" height="101" /></a>I need to go  back and remove the dead-end code I&#8217;ve left in my wake, and update the tests I&#8217;d disabled while in a coding flury (bad Bob!)  I plan to put together an easy-to-consume plugin gem which contains an nicely-configured AS along with the jboss-rails deployer pre-installed, along with rake tasks to start/stop AS, and deploy your app.  I&#8217;d also like to give clustering a whirl, and see what we can do.</p>
<p>It&#8217;s been an excellent 3 weeks back as an engineer.</p>
