---
title: "Raleigh RubyCamp"
author: Bob McWhirter
layout: post
---
<p>Oh, fortuna!</p>
<p>I&#8217;m rejoining the Red Hat/JBoss mothership, doing rubyish things, and what do you know, but there&#8217;s a <a title="Raleigh RubyCamp" href="http://barcamp.pbwiki.com/RaleighRubyCamp">RubyCamp</a> at the RHT HQ in Raleigh on October 18th.<a title="37signals" href="http://37signals.com/"></a></p>
<p><a title="37signals" href="http://37signals.com/">37signals</a> and <a title="Ruby Row" href="http://rubyrow.net/">Ruby Row</a> are sponsoring the event.<a title="Ruby Row" href="http://rubyrow.net/"><br />
</a></p>
<p>Space is limited to 200, but at the time of this posting only 57 have signed up.  It&#8217;s an unconference, so bring your own good ideas, and you can lead a session</p>
