---
title: "Stumbling through technology"
author: Bob McWhirter
date: 2008-10-11
layout: post
---
<p>It can sometimes be funny, the paths we take.</p>
<p>Once I&#8217;d verified that a Rails app deployed on JBoss <a href='http://www.fnokd.com/2008/09/29/jbor-will-it-cluster/' title='Clustering Rails on JBoss'>would indeed cluster</a>, I sat in my farmhouse, looking at my lone little Mac.  Not much of a cluster to play with.</p>
<p>So I started looking at <a href='http://aws.amazon.com/ec2/' title='Amazon EC2'>Amazon EC2</a>, which is truly very nice, particularly when paired with <a href='http://www.fnokd.com/2008/10/01/elasticfox-osx-and-iterm/' title='Elasticfox happiness'>Elasticfox</a>.</p>
<p>Of course, firing up a cluster on EC2 requires a nicely-produced, ready-to-boot machine image or a lot of manual configuration on each node.</p>
<p><a href='http://sacha.labourey.com/' title='Sacha&apos;s blog'>Sacha</a> pointed me to another group within Red Hat: <a href='http://thincrust.net/' title='Thincrust'>Thincrust</a>.</p>
<p>Thincrust configures a Fedora disk image with &#8220;just enough&#8221; OS bits, and provides a way to add/update applications on it.  It&#8217;s a happy mixture of Kickstart, <a href='http://reductivelabs.com/projects/puppet/' title='Puppet'>Puppet</a> and Yum.</p>
<p>The goal is to make it easy to produce <a href='http://thincrust.net/ace-examples.html' title='Example Thincrust appliances'>&#8220;appliance&#8221; images</a> that could be flung onto machines, real or virtual.  Need a Git server?  Fire up the Git appliance on the cloud.  Need a Drupal server?  Fire one of those up.  Need a JBoss server or cluster?  We&#8217;re working on that..</p>
<p>Thincrust is built upon Fedora.  My Mac is not.  But <a href='http://www.vmware.com/products/fusion/' title='VMWare Fusion'>VMWare Fusion</a> lets me run Fedora.  So I can create Fedora-based Thincrust images.  Which I&#8217;ll deploy on EC2.  Which is running Xen, probably on RHEL.  And ultimately allowing you to run your Ruby-on-Rails applications on a Java stack.</p>
<p>There are times I can&#8217;t remember exactly which OS, language, or virtualization environment I should be thinking in.</p>
