---
title: "Raleigh RubyCamp"
author: Bob McWhirter
date: 2008-8-25
layout: post
---
<p>Oh, fortuna!</p>
<p>I&#8217;m rejoining the Red Hat/JBoss mothership, doing rubyish things, and what do you know, but there&#8217;s a <a href='http://barcamp.pbwiki.com/RaleighRubyCamp' title='Raleigh RubyCamp'>RubyCamp</a> at the RHT HQ in Raleigh on October 18th.<a href='http://37signals.com/' title='37signals'/></p>
<p><a href='http://37signals.com/' title='37signals'>37signals</a> and <a href='http://rubyrow.net/' title='Ruby Row'>Ruby Row</a> are sponsoring the event.<a href='http://rubyrow.net/' title='Ruby Row'><br/>
</a></p>
<p>Space is limited to 200, but at the time of this posting only 57 have signed up.  It&#8217;s an unconference, so bring your own good ideas, and you can lead a session</p>
