---
title: "Trip Report: Raleigh RubyCamp"
author: Bob McWhirter
date: 2008-10-20
layout: post
---
<p>I did the round-trip from the land of cows to Raleigh to attend the <a href='http://barcamp.pbwiki.com/RaleighRubyCamp' title='Raleigh RubyCamp' mce_href='http://barcamp.pbwiki.com/RaleighRubyCamp'>Raleigh RubyCamp</a> over the weekend.</p>
<p>I think I heard about 80 folks showed up, but I&#8217;m not certain on that.</p>
<p>Mark (root@37s) and <a href='http://infozerk.com/averyblog/' title='James&apos;s Blog' mce_href='http://infozerk.com/averyblog/'>James</a> did a very nice job of organizing it.&nbsp; They provided good coffee and donuts to start the morning right.&nbsp; Krispy Kreme is never a bad idea.</p>
<p>We gathered, and a handful of folks presented introductions about what they wanted to do a session on.&nbsp; We then figured out the slots, and got started.</p>
<p><a href='http://exawkuser.blogspot.com/' title='Brenton&apos;s Blog' mce_href='http://exawkuser.blogspot.com/'>Brenton Leanhardt</a> talked about <a href='http://genome.et.redhat.com/' title='Genome' mce_href='http://genome.et.redhat.com/'>Genome</a> and <a href='https://fedorahosted.org/cobbler' title='Cobbler' mce_href='https://fedorahosted.org/cobbler'>Cobbler</a>, two <a href='http://et.redhat.com/page/Main_Page' title='Red Hat ET' mce_href='http://et.redhat.com/page/Main_Page'>emerging technologies</a> at Red Hat.&nbsp; Cobbler helps to stitch together distributions, Kickstarts and repositories, while Genome helps manage the inventory of virtualization hardware and the guest instances running on them.</p>
<p>His use-case for the technologies is the fact that we&#8217;ve got Xen hosts running on machines scattered under desks and in closets, which have been donated to a virtual pool.</p>
<p>Where did you launch that instance last month?&nbsp; Where can you launch a new instance today?&nbsp; Genome helps answer those questions.&nbsp; Many of the Genome bits are Camping apps.</p>
<p>I presented my short slide-deck about JBoss-Rails.</p>
<p><a href='http://twitter.com/markimbriaco' title='Mark&apos;s Twitter' mce_href='http://twitter.com/markimbriaco'>Mark Imbriaco</a> led an open discussion about Rails deployments.&nbsp; It ended up mostly being us asking how 37signals did things.&nbsp; He described their hosting environment, their occasional frustrations with Mongrel, along with some stories about running migrations against a 100gig database.</p>
<p><a href='http://seancribbs.com/' title='Sean Cribbs' mce_href='http://seancribbs.com/'>Sean Cribbs</a> talked about his experience in joining and then leading open-source projects, particularly <a href='http://radiantcms.org/' title='Radiant CMS' mce_href='http://radiantcms.org/'>Radiant CMS</a>.&nbsp; He discussed breaking up the core into <a href='http://github.com/radiant' title='Radiant on GitHub' mce_href='http://github.com/radiant'>many plugins and modules</a>, and the uptick in community participation that followed.</p>
<p>Overall it was a great weekend, and I even got some nice t-shirts out of it.&nbsp; Not bad.</p>
