---
title: "List Archives"
author: Bob McWhirter
layout: post
---
<p>Thanks to Jason Hunter and the friendly kids at <a title="MarkMail" href="http://markmail.org/">MarkMail</a> (a free service provied by <a title="Mark Logic Corporation" href="http://www.marklogic.com/">Mark Logic</a>), we've now got a swell mailing list archive.</p>
<blockquote>
<p><a title="Odd Thesis archives at MarkMail" href="http://oddthesis.markmail.org/search/?q=">http://oddthesis.markmail.org/search/?q=</a></p>
</blockquote>
<p>&nbsp;</p>
