---
title: "Preliminary slides for JBoss-Rails at RubyCamp"
author: Bob McWhirter
date: 2008-10-18
layout: post
---
<p>Thanks to the typical <a title="Damn you, Amazon" href="http://www.fnokd.com/2008/10/17/run-level-run/">demo demons</a>, I&#8217;ve been unable to get everything functioning perfect for instantaneous clustering on EC2 by tomorrow.</p>
<p>Oh well.</p>
<p>But here&#8217;s the <a href="http://fnokd.com/~bob/jboss-rails-cloud-rubycamp.pdf">first draft of some slides</a> I&#8217;m taking with me to the Raleigh RubyCamp.</p>
<p><a href="http://fnokd.com/~bob/jboss-rails-cloud-rubycamp.pdf"><img class="aligncenter size-medium wp-image-570" title="slide1001" src="http://www.fnokd.com/wp-content/uploads/2008/10/slide1001-300x225.jpg" alt="" width="300" height="225" /></a></p>
<p>It&#8217;s a BarCamp style event, so I anticipate the slides probably changing throughout the day.  I&#8217;ll published updates if needed.</p>
