---
title: "Cron in the Container"
author: Bob McWhirter
date: 2008-11-14
layout: post
---
<p>Per the discussion in <a title="Nobody should need cron" href="/posts/2008-11-nobody-should-need-cron">Nobody should need cron</a>, I've added scheduled-task deployment capability to the JBoss Rails deployer.&nbsp; Currently this functionality is only in the Git repository, but the next beta binary release will certainly include it.</p>
<p>Instead of editing crontabs, you now work with <strong>RAILS_ROOT/config/jboss-scheduler.yml</strong>, a simple YAML file.</p>
<p>It defines all the scheduled tasks you want to be managed by the container.&nbsp; For example, the jboss-scheduler.yml for Odd Thesis looks like this currently:</p>
<pre># Field Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Allowed Values&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Allowed Special Characters<br /># ----------------------------------------------------------------<br /># Seconds&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0-59&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; , - * /<br /># Minutes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0-59&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; , - * /<br /># Hours&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0-23&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; , - * /<br /># Day-of-month&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1-31&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; , - * ? / L W<br /># Month&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1-12 or JAN-DEC&nbsp;&nbsp;&nbsp;&nbsp; , - * /<br /># Day-of-Week&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1-7 or SUN-SAT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; , - * ? / L #<br /># Year (Optional)&nbsp;&nbsp; empty, 1970-2099&nbsp;&nbsp;&nbsp; , - * /<br /><br />github.commit.poller:<br />&nbsp; description: Poll projects for GitHub commits<br />&nbsp; cron: 0 */15 * * * ?<br />&nbsp; task: Github::CommitPoller</pre>
<p>That names a task ("github.commit.poller"), sets the cron spec (every 15 minutes), and wires up an associated Ruby class to do the work (Github::CommitPoller).</p>
<p>The container loads up the rails environment once for each task, and keeps it handy and fresh for each triggering of the task.&nbsp;</p>
<p>It looks for tasks under <strong>RAILS_ROOT/app/scheduler/</strong>.&nbsp; In the above example, it's ultimately using <strong>RAILS_ROOT/app/scheduler/github/commit_poller.rb</strong>.</p>
<p>The task class itself has no particular requirements, other than being able to respond to <strong>run()</strong> called with no arguments.</p>
<pre>module Github<br />  class CommitPoller<br />    def run()<br />      # do work, use ActiveRecord models, etc<br />    end<br />  end<br />end<br /></pre>
<p>Since you don't want to fire up the whole container to execute your task, perhaps if you're testing, or need an extra execution of it, there's a magic Rake task you can execute:</p>
<pre>rake jboss:scheduler:run:commit_poller</pre>
<p>The JBoss-Rails Plugin automatically scans your scheduled-tasks and creates rake tasks to run them from the command-line.&nbsp; It currently just uses the last portion of the name ("commit_poller"), so it's up to you to avoid any naming conflicts.&nbsp; Having <strong>foo/poller.rb</strong> and <strong>bar/poller.rb</strong> will only result in sadness.</p>
<p>I'm not necessarily super-happy with the name of the deployment descriptor (<strong>jboss-scheduler.yml</strong>) nor of the task class location (<strong>app/scheduler/**.rb</strong>).&nbsp; I'm open to suggestions and discussions.</p>
<p>Check it out from GitHub if you're brave, else a binary release should be forthcoming before too long.</p>
<p>And yes, I advise you to use this wisely.&nbsp; It's not an acceptable way to do very important sysadmin chores.&nbsp; But if you have some recurring activity that's not either a user thread or runnable as a daemon, I think this can be quite useful.</p>
<p>Check out the <a title="Commits" href="/commits">Odd Thesis Commits page</a> for an example.&nbsp; Every 15 minutes it polls GitHub for a YAML feed of recent commits, and then jams them into our database.&nbsp; It's not a critical task, but one I don't want to screw with Vixie cron to handle.</p>
