---
title: "GitHub Mirrors for some JBoss Projects"
author: Bob McWhirter
date: 2008-8-21
layout: post
---
<p>In addition to the previously-mentioned JRuby mirror from Codehaus SVN to GitHub, I&#8217;m now also mirroring:</p>
<ul>
<li><a href='http://github.com/bobmcwhirter/microcontainer/tree/vendor' title='JBoss Microcontainer on GitHub'>JBoss Microcontainer</a></li>
<li><a href='http://github.com/bobmcwhirter/jbossas/tree/vendor' title='JBoss AS5 on GitHub'>JBoss AS5</a></li>
<li><a href='http://github.com/bobmcwhirter/jruby/tree/vendor' title='JRuby on GitHub'>JRuby</a></li>
</ul>
<p>All are trunk-only mirrors, not picking up branches or tags.  Since the JBoss repository path has about 77,000 subversion revisions, and at one point held any and all JBoss software ever written, I have not mirrored it in its entirety.  Instead, I&#8217;ve only grabbed http://anonsvn.jboss.org/repos/jbossas/trunk back to revision 77,200.  It&#8217;ll mirror going forward, but the github repository does not include any ancient history.</p>
<p>For those of you playing along at home, the way to fetch just a cauterized &#8220;tip&#8221; from SVN to a git repository is to mirror <a href='http://www.fnokd.com/2008/08/20/mirroring-svn-repository-to-github/' title='Mirroring SVN to GitHub'>as before</a>, but for the initial &#8220;git svn fetch&#8221; command, add a SVN-style revision range</p>
<blockquote><p>git svn fetch -r77200:HEAD</p></blockquote>
<p>For me, at least, trying to fetch the tip revision for the directory resulted in failure.  Going back a few revisions, and using a range that includes HEAD worked much better.  Then just push to GitHub has normal, and start your rebase/push cronjob.</p>
<p>The JBoss projects are updated from SVN every 15 minutes.  But we&#8217;re updating from the anonymous SVN repository at JBoss, which itself is delayed from the developer repository by some amount of time.  So, ultimately, the GitHub mirror should be mostly up-to-date, but could lag behind actual developer commits by up to and hour, I reckon.</p>
<p>If you&#8217;re wanting to track these repositories using my git mirror, only track the vendor branch.  I make no claims about the stability or sanity of the &#8216;master&#8217; ref at any point in time.  I will make sure &#8216;vendor&#8217; exactly matches the Subversion history, though.</p>
