---
title: "Welcome to my Odd Thesis"
author: Bob McWhirter
layout: post
---
<p>As noted in the introduction, I'm currently practicing "thesis-driven development."&nbsp; This site is fodder for the practical experimentation of what I'm doing.</p>
<p>In addition to a nifty logo, it's a custom Rails app, doing traditional Rails appish things (pages, posts, tags, comments, oh my!).&nbsp; It uses some popular gems.&nbsp; It's deployed using capistrano tasks in the way Rubyists are used to.&nbsp;</p>
<p>But it all runs on JBoss.</p>
<p>The base is:</p>
<ul>
<li>JBoss AS 5.0.0.CR2</li>
<li>Postgres 8.something</li>
<li>RHEL 4</li>
</ul>
<p>The gems/extensions/plugins in use by the app currently include:</p>
<ul>
<li>aasm</li>
<li>activerecord-jdbc-adapter-0.8.3</li>
<li>activerecord-jdbcpostgresql-adapter-0.8.3</li>
<li>activerecord-jdbcsqlite3-adapter-0.8.3</li>
<li>atom-tools</li>
<li>foreign_key_migrations</li>
<li>haml</li>
<li>jboss-rails-plugin</li>
<li>jdbc-postgres-8.2</li>
<li>jdbc-sqlite3-3.5.8</li>
<li>rakismet</li>
<li>redhillonrails_core</li>
<li>restful_authentication</li>
<li>transactional_migrations</li>
<li>will_paginate</li>
</ul>
<p>I'd also like to welcome <a title="First!" href="http://github.com/bobmcwhirter/jboss-rails/commit/7a9494950c4097d532b9abf7b4eb9f50328cc76e">my first non-Red Hat committer</a> to these projects.&nbsp; John Williams is one of the cool kids from <a title="Contegix" href="http://contegix.com/">Contegix</a> (where this server lives).</p>
