---
title: "Kick the tires on JBoss-Rails"
author: Bob McWhirter
layout: post
---
<p>Today I managed to get things to the point where they're hopefully easy to give a whirl.</p>
<p>First, there's the <a title="Odd Thesis repository" href="http://repo.oddthesis.org/deployers">binary of the deployer</a>, along with <a title="JBoss Rails Deployer installation instructions" href="/theses/jboss-rails/projects/jboss-rails/pages/installation">installation instructions</a>.&nbsp; We hope to soon have an uber tarball that includes both AS5 and the deployer.&nbsp; But for now, you'll have to install AS, then drop in the deployer.</p>
<p>Then there's the instructions for <a title="JBoss Rails Plugin installation instructions" href="/theses/jboss-rails/projects/jboss-rails-plugin/pages/installation">installing</a> and <a title="Using the JBoss Rails Plugin rake tasks" href="/theses/jboss-rails/projects/jboss-rails-plugin/pages/using-the-rake-tasks">using</a> the JBoss Rails Plugin to deploy your app and control the appserver.</p>
<p>Expect frequent releases over the coming weeks as we continue to make fast progress on both capability and usability.</p>
