---
title: "Another JBoss GitHub repository mirror"
author: Bob McWhirter
date: 2008-8-30
layout: post
---
<p>For those of you playing along at home, I&#8217;ve added <strong>jboss-deployers</strong> to my GitHub mirror set.  Like the others, the &#8216;vendor&#8217; branch is the one you want.</p>
<ul>
<li><a href='http://github.com/bobmcwhirter/jboss-deployers/tree/vendor' title='jboss-deployers'>jboss-deployers</a></li>
<li><a href='http://github.com/bobmcwhirter/jbossas/tree/vendor' title='jbossas'>jbossas</a></li>
<li><a href='http://github.com/bobmcwhirter/microcontainer/tree/vendor' title='microcontainer'>microcontainer</a></li>
<li><a href='http://github.com/bobmcwhirter/vfs/tree/vendor' title='vfs'>vfs</a></li>
</ul>
<p>I&#8217;m adding JBoss projects to my mirror set as I trip across the need to browse their source.  If there&#8217;s a JBoss project you&#8217;d like to see mirrored out of SVN, drop the URL to the <strong>trunk</strong> of the SVN repository in a comment on this post, and I&#8217;ll start slurping it.</p>
