---
title: "Mirroring SVN repository to GitHub"
author: Bob McWhirter
date: 2008-8-20
layout: post
---
<p>So, I&#8217;m gearing up to work on some Java+Ruby (via JRuby) stuff.  The Java world still seems fairly entrenched in the cult of Subversion, while the Rubyists have gone with <a href='http://git.or.cz/' title='Git'>Git</a> lately.</p>
<p>I&#8217;m still wrapping my mind around Git, but with <a href='https://github.com/' title='GitHub'>GitHub</a>, it&#8217;s fairly easy and straight-forward.  I paid my $7 for the micro account, to give me room to screw around.</p>
<p>There&#8217;s quite a few posts about mirroring SVN to a Git repository, but I feel the need to add my own, of course.</p>
<p>My goal is mirror the trunk of the JRuby project from Codehaus SVN to my account on GitHub.  By doing this, I can track the trunk development, and also work on my own patches.</p>
<p>I started by creating an empty repository on my GitHub account, called &#8216;jruby&#8217;.</p>
<blockquote><p><a href='http://github.com/bobmcwhirter/jruby/tree/master' title='My JRuby Git repository'>http://github.com/bobmcwhirter/jruby/tree/master</a></p></blockquote>
<p>Now, over on my always-on, Contegix-powered server, I create a brand new local git repository, also called jruby.</p>
<blockquote><p>mkdir jruby</p>
<p>cd jruby</p>
<p>git init</p></blockquote>
<p>Next I use &#8216;git svn init&#8217; to setup the SVN repository as a remote code source to track.  Using the -T switch points git to the trunk, and ignores branches and tags, which is fine for my purposes.</p>
<blockquote><p>git svn init -T <a href='http://svn.codehaus.org/jruby/trunk/jruby/' title='JRuby svn repository'>http://svn.codehaus.org/jruby/trunk/jruby/</a></p></blockquote>
<p>That does not pull any code, but it lets my local working tree know that I&#8217;m going to be pulling from an SVN repository at some point.  This setup only occurs in your local repository, and does not seem to ever get pushed to GitHub once we get to that point.</p>
<p>So, now we do the initial pull.  Once again, this is on my always-on, Contegix-powered server, not my local laptop.  I&#8217;m doing this on a server because towards the end, we&#8217;ll be setting up a cronjob to accomplish it all.</p>
<blockquote><p>git svn fetch</p></blockquote>
<p>It&#8217;ll think for a while, it&#8217;ll slurp down the SVN revision history, it&#8217;ll stop and ponder occasionally, and eventually, it&#8217;ll be done.  Woo-hoo!  Our local working tree is now up-to-date with the subversion HEAD as of that moment.</p>
<p>To reduce disk-space used by your local repository, go ahead and run the garbage collector</p>
<blockquote><p>git gc</p></blockquote>
<p>On my system, that reduced the space from over 600mb to under 70mb.</p>
<p>Now, that&#8217;s great, but it&#8217;s still just on my local repository.  Time to push it to GitHub.  We&#8217;re not going to follow their directions exactly, since this will ultimately be a cronjob and needs to use ssh.  And I&#8217;m slightly paranoid about my ssh keys.</p>
<p>So, the first thing I do is create another keypair, for used only by my mirroring process, and only for pushing changes to github.  It has no passphrase.  This allows me to keep my top-secret keys off my shared, always-on server.  If these keys are compromised, all an attacker can use them for is to push changes to GitHub.  Which, being revision-control, is more annoying than dangerous.  (Hooray for &#8220;git reset&#8221;).</p>
<blockquote><p>ssh-keygen -t dsa -f .ssh/id_dsa_github_mirroring</p></blockquote>
<p>Next, I edit my .ssh/config to add a &#8220;fake host&#8221; so that ssh connections invoked by git will use this new key.</p>
<p>As with all previous bits, this is still on my always-on server, not my local laptop.</p>
<blockquote><p>Host githubmirror<br/>
User git<br/>
Hostname github.com<br/>
IdentityFile /home/bob/.ssh/id_dsa_github_mirroring</p></blockquote>
<p>This will cause any invocation of &#8220;ssh githubmirror&#8221; into &#8220;ssh git@github.com -i .ssh/id_dsa_github_mirroring&#8221;.</p>
<p>I then installed id_dsa_github_mirroring.pub into my GitHub account.</p>
<p>Now, GitHub&#8217;s instructions say to run this command to add the GitHub repository as a remote named &#8220;origin&#8221;</p>
<blockquote><p>git remote add origin git@github.com:bobmcwhirter/jruby.git</p></blockquote>
<p>Instead, we teak it to use the &#8220;fake host&#8221; we added to .ssh/config</p>
<blockquote><p>git remote add origin git@githubmirror:bobmcwhirter/jruby.git</p></blockquote>
<p>We&#8217;re almost done, I promise.</p>
<p>Next, we need to do the first push from my server up to GitHub.  We first push to the &#8216;master&#8217; branch, since the repo really wants to have a master branch.</p>
<blockquote><p>git push origin master</p></blockquote>
<p>Now, GitHub doesn&#8217;t allow you to fork a repository you own, and since this mirror is owned by me, where can I do my own hacks and patches?  The &#8216;master&#8217; branch of course.  But I still want an unmolested, straight-from-subversion mirror.  So, I create a &#8216;vendor&#8217; branch in my workspace.  It&#8217;s initialized to match &#8216;master&#8217; exactly.</p>
<blockquote><p>git checkout -b vendor</p></blockquote>
<p>Now, I push that to GitHub, too.</p>
<blockquote><p>git push origin vendor</p></blockquote>
<p>Awesome.  I now have two branches, identical at the moment, called &#8220;vendor&#8221; and &#8220;master&#8221;.</p>
<p>Now, as far as I can tell, all the Subversion setup that we did only lives in the local repository on my always-on server.  Anyone who clones from the GitHub repository will not have that stuff.  They can of course do a &#8216;git svn init&#8217; themselves, to add it to their local repository.  But it doesn&#8217;t flow through GitHub.</p>
<p>But that&#8217;s fine, since I&#8217;ve been doing this on my always-on server anyhow.  My workspace is sitting in the &#8216;vendor&#8217; branch that&#8217;s tracking the vendor branch from github.</p>
<p>I can pull the latest changes from Subversion by typing</p>
<blockquote><p>git svn rebase</p></blockquote>
<p>The &#8216;rebase&#8217; command is neat, in that any changes that exist in the git repository are floated to be applied to whatever the latest HEAD is.  But since I&#8217;m only concerned with a one-way SVN-to-Git mirror, there will never be any changes to float, and this will just tack on subsequent SVN commits as Git commits onto the &#8216;vendor&#8217; branch.  It&#8217;ll leave the &#8216;master&#8217; branch un-touched.</p>
<p>After rebasing, you gotta push the &#8216;vendor&#8217; branch up to GitHub.</p>
<blockquote><p>git push origin vendor</p></blockquote>
<p>Now, type that every 15 minutes, and your &#8216;vendor&#8217; branch will stay mostly up-to-date.</p>
<p>Or use cron.</p>
<p>I&#8217;ve cronned a script that fires every 15 minutes</p>
<blockquote><p>#!/bin/sh</p>
<p>cd /home/bob/github-svn-mirrors/$1<br/>
git svn rebase<br/>
git push origin vendor</p></blockquote>
<p>It&#8217;s run with the repository name as the first (and only) argument</p>
<blockquote><p>*/15 * * * * /home/bob/github-svn-mirrors/bin/mirror jruby</p></blockquote>
<p>Now, over on my laptop, finally, I can clone the repository, work on topic branches, push to master and have my own controlled environment and fork, while knowing the &#8216;vendor&#8217; branch reflects the pure SVN state which I can also pull into my hackings as-desired.</p>
<p>When I submit a patch, if it ultimately floats back to me through the vendor branch, git is supposedly smart enough to realize that the same changes have arrived in my &#8216;master&#8217; (assuming it&#8217;s applied verbatim) and keep things nice and tidy.  Else, I can force a merge, trampling my half-assed patch with the official JRuby code.</p>
