---
title: "JBoss AS5: The Platform of the Future"
author: Bob McWhirter
date: 2008-12-5
layout: post
---
<p>Oh happy day!</p>
<p><a href='http://dandreadis.blogspot.com/2008/12/jbossas-500ga-released.html' title='Dimitris&apos;s announcement'>Dimitris announced</a> that JBoss AS 5.0-GA (the community edition) has been released.&nbsp; For a while (years?) people have been asking where AS5 is.&nbsp; Well, it's...</p>
<p style='text-align: center; font-size: 120%;'><a href='http://www.jboss.org/jbossas/downloads/' title='JBoss AS 5 GA, no joke.'>RIGHT HERE</a></p>
<p>Go ahead and grab it.&nbsp; It's awesome.&nbsp; Plus it's the foundation for your cool new Ruby on Rails apps (once you install the <a href='/theses/jboss-rails/projects/jboss-rails' title='JBoss-Rails Deployer'>JBoss-Rails Deployer</a>).</p>
<p>The supported <a href='http://www.jboss.com/products/platforms/application' title='JBoss EAP'>EAP</a> flavor of AS5 will be released in the next several months.</p>
