---
title: "JBoss Virtual Experience"
author: Bob McWhirter
date: 2009-1-5
layout: post
---
<p>I'll be presenting on <a title="JBoss-Rails" href="/theses/jboss-rails">JBoss-Rails</a> and <a title="JBoss-Cloud" href="/theses/jboss-cloud">JBoss-Cloud</a> at the <a title="JBoss Virtual Experience" href="http://www-2.virtualevents365.com/jboss_experience/">JBoss Virtual Experience</a>.</p>
<p>It's like a conference, but free, and you can attend in your slippers, since it's "virtual".</p>
<p>Plan on attending on February 11th, from 8:30am through 6:00pm to <a title="JBVE Agenda" href="http://www-2.virtualevents365.com/jboss_experience/agenda.php">hear speakers</a> in 3 different tracks:</p>
<ul>
<li>Business</li>
<li>Government</li>
<li>Technical</li>
</ul>
<p>The JBVE guys are also tweeting as <a title="jbossvirtexp on Twitter" href="http://twitter.com/jbossvirtexp">@jbossvirtexp</a>.&nbsp; Follow'em to stay informed.</p>
