---
title: "VM2 Command Reference"
author: Bob McWhirter
date: 2009-1-6
layout: post
---
<p>I've begun documenting the <a href='/theses/jboss-cloud/projects/vm2' title='VM2'>VM2</a> layer that allows VMWare to behave not unlike EC2.</p>
<p>Check out the <a href='/theses/jboss-cloud/projects/vm2/pages/vm2-command-reference' title='VM2 Command Reference'>command-reference</a> for information on registering and deregistering images, starting and terminating instances, and much more.</p>
<p>VM2 is the environment I use to demonstrate the <a href='/theses/jboss-cloud/projects/jboss-cloud' title='JBoss-Cloud'>JBoss-Cloud</a> appliances in my <a href='/posts/2009-01-jboss-virtual-experience-presentation-slides' title='JBVE Presentation'>JBoss Virtual Experience presentation</a>.</p>
