---
title: "DevNexus slides for JBoss-Rails"
author: Bob McWhirter
date: 2009-3-11
layout: post
---
<p>If you were unlucky enough to miss my presentation on JBoss-Rails yesterday at the DevNexus conference, you can <a href='/system/assets/devnexus.pdf' title='DevNexus JBoss-Rails Presentation'>grab the entire deck right here</a>.</p>
<p><a href='/system/assets/devnexus.pdf' title='DevNexus JBoss-Rails Presentation'><img src='/images/archive/devnexus-thumb-086.png' height='150' alt='DevNexus JBoss-Rails Presentation' width='200'/></a></p>
