---
title: "We're moving!"
author: Marek Goldmann
layout: post
---
<p>JBoss Cloud (and JBoss Aplpiance Support) are now mature enought to  leave oddthesis incubator. We're moving to <a href="http://community.jboss.org/"><strong>JBoss Community</strong></a>!</p>
<h3>StormGrind</h3>
<p><a href="http://www.jboss.org/stormgrind">StormGrind</a> is a umbrella for all cloud JBoss projects. Learn more about StormGrind &ndash; visit <a href="http://www.jboss.org/stormgrind.html">home page</a> and <a href="http://www.jboss.org/community/wiki/StormGrindDocumentation">documentation pages</a>!</p>
<p>Read also our <a href="http://cloudpress.org/2009/12/21/announcing-stormgrind-and-new-releases/">announcement on our new blog</a>.</p>
<h3>Project name changes<br /></h3>
<p>With the move we also renamed all our projects. Take a look at diagram below which describes name transition.</p>
<p><img src="http://www.goldmann.pl/images/transition.png" alt="" width="373" height="315" /></p>
<p>JBoss Cloud from now is called <a href="http://www.jboss.org/stormgrind/projects/cirras.html">CirrAS</a>.</p>
<p>JBoss Appliance Support is divided into two projects: <a href="http://www.jboss.org/stormgrind/projects/boxgrinder.html">BoxGrinder Build</a> and <a href="http://www.jboss.org/stormgrind/projects/cantiere.html">Cantiere</a>. <a href="http://www.jboss.org/stormgrind/projects/boxgrinder.html">BoxGrinder Build</a> is a set of Rake tasks to build appliances, <a href="http://www.jboss.org/stormgrind/projects/cantiere.html">Cantiere</a> is a set of Rake tasks to build in a convenient way RPM files.</p>
<p>You can read more about this transition on a special <a href="http://community.jboss.org/docs/DOC-14372">wiki page</a>.</p>
<h3>New versions</h3>
<p>With the move we also released new versions for our projects: CirrAS, Cantiere and BoxGrinder Build!</p>
<p>You can read more on our <strong><a href="http://cloudpress.org/">new blog</a></strong>!</p>
<h3>Technical informations</h3>
<p>As I mentioned before we have now a <a href="http://cloudpress.org/">new blog</a>. There will be no new posts/announcements on oddthesis.org blog. Please update your news reader and bookmarks!</p>
<p>We moved to new source repositories; read more <a href="http://www.jboss.org/stormgrind/sourcecode.html">here</a>.</p>
<p>We use now JIRA to track issues; read more <a href="http://www.jboss.org/stormgrind/issues.html">here</a>.</p>
<p>Currently we don't have any mailing list. Instead we're in process of creating forums on our new Clearspace installation at JBoss. More info <a href="http://www.jboss.org/stormgrind/community.html">here</a>.</p>
<p>Our new Twitter account is <a href="http://twitter.com/stormgrind">right here</a> and if you still have questions about the move, feel free to ask &ndash; we're in our new <a href="irc://irc.freenode.net/stormgrind">IRC room</a>.</p>
