---
title: "Another Head in the Clouds"
author: Bob McWhirter
date: 2009-2-1
layout: post
---
<p>To counter some of last week's layoffs within the industry, we grew my team by 100%, hiring one other guy: <a href='http://javavsme.wordpress.com/' title='Marek&apos;s Blog'>Marek Goldmann</a>.&nbsp; You may have seen him around here commenting on posts, plus I pointed to his writings on <a href='http://javavsme.wordpress.com/2008/12/27/mod_cluster-nowe-spojrzenie-na-load-balancery/' title='Marek&apos;s Polish post about mod_cluster'>mod_cluster</a> a while back.&nbsp; He's already been responsible for creating our 64-bit images and functional ESXi support.</p>
<p>Hailing from <a href='http://en.wikipedia.org/wiki/Silesia' title='Silesia'>Silesia</a> (in Poland), he's got a background in high-availability, a willingness to hack JBoss, Fedora and RPMs, and enjoys bacon.&nbsp; He may like long walks on the beach; I haven't asked.</p>
<p>Welcome to the team, Marek!</p>
