---
title: "Atlanta SofaConf"
author: Bob McWhirter
layout: post
---
<p>I'm going to be in Atlanta for the Atlanta JUG's <a title="Atlanta JUG DevNexus conference" href="http://www.devnexus.com/">DevNexus</a> conference, March 10-11.&nbsp; I may or may not be speaking, but I'll be attending and helping with all things JBoss.</p>
<p>But why should you settle for simply attending the conference, when you could also have me sleep on your sofa? If you live in Atlanta and have a spare sofa or futon, here's your chance to spend some quality time with a JBoss developer.&nbsp; Invite friends, we'll grill (if you have a grill) and have some beers.</p>
<p><img src="/system/assets/sofaconf.png" alt="SofaConf" width="262" height="60" /></p>
<p>To qualify, you must have a sofa capable of sleeping a 6'5" man.</p>
<p>Leave a comment explaining why I should select your sofa to host the First Atlanta Sofa Conf.&nbsp; Factors may include who you are, what type of sofa you have, and proximity to the Vinings area, or anything else you deem appropriate.</p>
