---
title: "Fancy new stuff in JBoss Cloud"
author: Marek Goldmann
date: 2009-5-1
layout: post
---
<p>After holidays I have worked on <a href="http://oddthesis.lighthouseapp.com/projects/19748-jboss-cloud/tickets/bins/15965">some tickets</a> assigned to upcoming <a href="/theses/jboss-cloud/projects/jboss-cloud">JBoss Cloud</a> Beta5 release. Because these are adding some good stuff I will briefly describe what's new.</p>
<p>There was a lot of work done on making JBoss Cloud more EC2 friendly. First of all we added finally <strong>appropriate kernel modules</strong> for Amazon EC2 XEN kernels (we're using newest ones available &mdash; 2.6.21 instead of default 2.6.18). This fixed a lot of errors in messages log and allowed us to run <strong>meta-appliance</strong> on EC2! You can build JBoss Cloud images directly using our AMI.<br /><br />Till now we provided only 32 bit images of our appliances. This is over now! We have <strong>64 bit support</strong> for all virtualizaton platforms!<br /><br />There was a lot of work on refactoring, writing new tests (yes, we have some!) and validation rules for config file. You can now hack JBoss Cloud more safely. There is a new rake task added:</p>
<pre><span style="font-family: courier new,monospace;">rake appliance:APPLIANCE_NAME:validate:dependencies</span></pre>
<p>This task <strong>validates additional packages added to appliance definition files</strong>. How it is working? It takes all specified repositories and looks if every added package is available in one of them. Simply, but saves a lot of time (you don't need to build appliance to be sure your packages are resolvable). Want to check all available appliances?</p>
<pre><span style="font-family: courier new,monospace;">rake appliance:all:validate:dependencies</span></pre>
<p>We have also a brand new <a href="http://www.jboss.org/mod_cluster/">mod_cluster</a> 1.0.0.CR2 in our appliances.<br /> <br /> <strong>Uploading packages</strong> to remote server is smarter and more fancy &mdash; we have a progress bar! Now you know if you should order an espresso or a whole coffee pot.<br /><strong><br />Signing packages is done also via rake task</strong>:</p>
<pre>rake rpm:RPM_NAME:sign</pre>
<p>It'll sign RPM_NAME package with key specified in your <em>~/.rpmmacros</em> file. More info will be available in <a href="/theses/jboss-cloud/projects/jboss-cloud/pages/documentation">documentation</a>, really soon.<br /> <br />Pssst, I build especially for you some <strong>pre-release 64 bit EC2 AMIs</strong>: <span>meta-appliance &mdash; </span><strong><span>ami-27ae484e</span></strong>, <span>front-end-appliance &mdash; </span><span><strong>ami-04ae486d</strong> and finally </span><span>back-end-appliance &mdash;</span><span> </span><span><strong>ami-01ae4868</strong>.</span> Grab it!</p>
<p>Be prepared for Beta5 release!</p>
