---
title: "JBoss Virtual Experience this Wednesday"
author: Bob McWhirter
layout: post
---
<p>As time draws nigh, I once again want to remind everyone to <a title="Register for the JBoss Virtual Experience" href="http://www-2.virtualevents365.com/jboss_experience/register.php"><strong>go register</strong></a> for the <a title="JBoss Virtual Experience" href="http://www-2.virtualevents365.com/jboss_experience/">JBoss Virtual Experience</a>.</p>
<p>There are <a title="JBVE Agenda" href="http://www-2.virtualevents365.com/jboss_experience/agenda.php">3 simultaneous tracks</a>: <strong>Business</strong>, <strong>Technical</strong> and <strong>Goverment</strong>.&nbsp; A lot of JBoss engineers and business people will be around for Q&amp;A after each presentation, plus there's a virtual cafe where folks can linger for informal conversation.</p>
<p>My presentation goes on at 3pm US-Eastern.</p>
<p>It should be fun.</p>
