---
title: "Talks on JBoss Cloud in your neighborhood"
author: Marek Goldmann
date: 2009-6-20
layout: post
---
<p>Want to hear more about <a href="/theses/jboss-cloud/projects/jboss-cloud">JBoss Cloud</a> directly from core developers? Want to know what's the future of JBoss Cloud? Take a seat in one of these locations:</p>
<ul>
<li><a href="http://groups.google.com/group/silesia-jug">Silesia JUG</a> meeting: 30.06.2009, 6:30 pm local time, Katowice, Poland, <a href="http://coig.pl/index.php?t=200&amp;id=210">ul. Mikołowska 100</a>, room 136.</li>
<li>The Triangle Users Group <a title="TriJUG" href="http://trijug.org/">TriJUG</a> meeting on July 20.</li>
<li><a href="http://www.jbossworld.com/">JBoss World</a>, Chicago, 03.09.2009, 10:50 am local time, <a href="http://www.chicagohilton.com/hotels_hiltonchicago.aspx">Hilton Chicago</a></li>
</ul>
