---
title: "Summer of Odd Code"
author: Bob McWhirter
date: 2009-3-19
layout: post
---
<p>JBoss has been selected (along with the Fedora Project) as a mentoring organization for the Google Summer of Code.&nbsp; I've thrown up <a href='http://www.jboss.org/community/docs/DOC-13401' title='JBoss.org GSoC ideas page'>some ideas on the JBoss idea page</a>.</p>
<p>But don't feel limited to just those.&nbsp; Ultimatley, you, the fantastic, enthusiastic, and intelligent student will write your own proposal to Google.&nbsp; Feel free to color outside the lines and come up with even better ideas for any of the JBoss projects.</p>
<p>If you've got something great, we'll find you a mentor.</p>
<p>Anyhow, if you'd rather hack code than work a "real job" this summer break, <a href='http://www.jboss.org/community/docs/DOC-13401' title='JBoss.org GSoC ideas page'>start thinking about what you can do with JBoss</a>.</p>
<p>Both the JBoss-Rails and JBoss-Cloud projects look forward to working with some young whipper-snappers this summer.</p>
