---
title: "Point of Clarification"
author: Bob McWhirter
date: 2009-1-3
layout: post
---
<p>As Marek Goldmann points out <a title="Marek Goldmann's JBoss-Cloud post" href="http://javavsme.wordpress.com/2009/01/01/jboss-cloud/">in his post about JBoss-Cloud</a>, the project is by no means tied to the JBoss-Rails project.&nbsp; (He's also blogged about JBoss mod_cluster both in <a title="Marek Goldmann on mod_cluster (Polish)" href="http://javavsme.wordpress.com/2008/12/27/mod_cluster-nowe-spojrzenie-na-load-balancery/">Polish</a> and <a title="Marek Goldmann on mod_cluster (English)" href="http://javavsme.wordpress.com/2009/01/01/fresh-mod_cluster-rpms-for-fedora-10/">English</a>.)&nbsp; He's also provided patches to our RPM spec files.&nbsp; Thanks Marek!</p>
<p>Even though both projects share a site (<a title="Bob's Odd Thesis" href="/">Odd Thesis</a>) and a developer (me), they are not intrinsincly linked.&nbsp; I do want to run my Rails apps in the cloud, but JBoss-Cloud supports any and all of JBoss.&nbsp; If you've got a Seam app, go for it.</p>
<p>I now return you to your regularly-scheduled programming.</p>
<p>&nbsp;</p>
