---
title: "DevNexus slides for JBoss-Rails"
author: Bob McWhirter
layout: post
---
<p>If you were unlucky enough to miss my presentation on JBoss-Rails yesterday at the DevNexus conference, you can <a title="DevNexus JBoss-Rails Presentation" href="/system/assets/devnexus.pdf">grab the entire deck right here</a>.</p>
<p><a title="DevNexus JBoss-Rails Presentation" href="/system/assets/devnexus.pdf"><img src="/system/assets/devnexus-thumb-086.png" alt="DevNexus JBoss-Rails Presentation" width="200" height="150" /></a></p>
