---
title: "JBoss-Rails 1.0.0.Beta5 released"
author: Bob McWhirter
date: 2009-3-24
layout: post
---
<p>Good afternoon everyone.&nbsp; I hope everyone had an enjoyable lunch involving bacon.</p>
<p>Now go grab the latest beta of JBoss-Rails.</p>
<ul>
<li><a href='http://repo.oddthesis.org/maven2/org/jboss/rails/jboss-rails/1.0.0.Beta5/jboss-rails-1.0.0.Beta5-bin.zip' title='JBoss-Rails 1.0.0.Beta5 binary package'>The whole package.</a></li>
<li><a href='http://repo.oddthesis.org/maven2/org/jboss/rails/jboss-rails/1.0.0.Beta5/jboss-rails-1.0.0.Beta5-deployer.jar' title='JBoss-Rails 1.0.0.Beta5 deployer jar'>Just the deployer jar.</a></li>
</ul>
<p>The biggest bits in this release are:</p>
<ul>
<li><a href='/theses/jboss-rails/projects/jboss-rails/pages/telco' title='Telco support'>Telco support using Mobicents SIP Servlets</a> (via <a href='http://jeanderuelle.blogspot.com/' title='Jean Deruelle&apos;s blog'>Jean Deruelle</a>, under active development)</li>
<li>Much better mapping of Rails sessions to HTTP servlet sessions.</li>
<li>Appropriate manipulation of multipart requests.</li>
</ul>
<p>Give it a whirl, see if it breaks.</p>
