---
title: "JBoss Virtual Experience: Presentation Slides"
author: Bob McWhirter
layout: post
---
<p>My slides for the <a title="JBoss Virtual Experience" href="http://www-2.virtualevents365.com/jboss_experience/">JBoss Virtual Experience</a> (JBoss Rails and JBoss in the Cloud) are due close-of-business today (about 6 hours ago).&nbsp; Of course, that really means start-of-business tomorrow, thankfully.</p>
<p>The Marketing gurus say I can publish them before the event, so here we go.&nbsp; <a title="JBoss Virtual Experience presentation" href="/system/assets/jbve-preso.pdf">Here's 70 slides of goodnes (PDF)</a> to be presented in 30 minutes about 2 distinct projects. I recommend reviewing the slides before the <a title="JBoss Virtual Experience" href="http://www-2.virtualevents365.com/jboss_experience/">JBVE</a> presentation, as we'll be zipping through these fairly quickly.&nbsp; You gotta keep up!</p>
<p>I really think this probably should have been 2 individual presentations, but it is what it is, now.&nbsp; So enjoy a <a title="JBoss Virtual Experience presentation" href="/system/assets/jbve-preso.pdf">double-shot of bullet-point love (PDF)</a>.</p>
<p><a title="JBoss Virtual Experience presentation" href="/system/assets/jbve-preso.pdf"><img src="/system/assets/jbve-preso-059.png" alt="" width="333" height="249" /></a></p>
<p>&nbsp;</p>
