---
title: "Rackspace support added to deltacloud"
author: Michael Neale
layout: post
---
<p>Hi - I am your host Michael - and am joining bob in the quest to fullfill the thesis mentioned to the right ...&nbsp;</p>
<p>&nbsp;</p>
<p>(ok waiting for your head to turn back)</p>
<p>&nbsp;</p>
<p>Part of this is improving deltacloud.org, and as such I added a driver for the "rackspace cloud" (previously known as Mosso - well at least they didn't change it to love symbol - pretty sure there isn't a UTF-8 char for that, feel free to prove me wrong..).&nbsp;</p>
<p>&nbsp;</p>
<p>Get it here:&nbsp;http://github.com/michaelneale/driver-rackspace</p>
