---
title: "Interview about Rails &amp; Cloud"
author: Bob McWhirter
layout: post
---
<p>A few weeks ago, I spoke to Nitin Bharti at DZone/JavaLobby about JBoss-Rails and JBoss-Cloud.</p>
<p>They've now published the <a title="Interview for DZone" href="http://java.dzone.com/articles/odd-theses-an-interview-with-b">mostly-accurate transcript</a>. You can also hear it <a title="Audio interview for DZone" href="http://java.dzone.com/sites/all/files/MP3_Bob%20Mcwhirther.mp3.zip">straight from the horse's mouth</a> (MP3, zipped?).</p>
<p>Don't forget, you'll also be able to attend my presentation at the <a title="JBoss Virtual Experience" href="http://www-2.virtualevents365.com/jboss_experience/">JBoss Virtual Experience</a> on February 11th.</p>
