---
title: "JBoss Cloud at TriJUG"
author: Bob McWhirter
date: 2009-7-21
layout: post
---
<p>Last night I was invited to present about JBoss Cloud at the July meeting of TriJUG.&nbsp; I'd say it went over well, and a lot of questions and conversations ensued following.</p>
<p><a title="TriJUG slides" href="http://fnokd.com/~bob/TriJUG.pdf">Here are the slides.</a></p>
<p><a title="TriJUG slides" href="http://fnokd.com/~bob/TriJUG.pdf"><img src="http://fnokd.com/~bob/TriJUG.026.png" alt="" width="315" height="236" /></a></p>
