---
title: "An introduction to JBoss Cloud"
author: Marek Goldmann
date: 2009-4-30
layout: post
---
<p>Yesterday I published an <a href='http://java.dzone.com/articles/introduction-jboss-cloud'>article about JBoss Cloud on DZone</a>. Go, check it out, leave some comments, digg it!</p>
<p><a href='http://java.dzone.com/articles/introduction-jboss-cloud'><img src='/images/archive/dzone_intro.png' height='148' alt='JBoss Cloud introduction on DZone' width='200'/></a></p>
