---
title: "JBoss-Cloud 1.0.0.Beta4 release for holidays"
author: Marek Goldmann
layout: post
---
<p>I'm pleased to announce availability of <a href="/theses/jboss-cloud/projects/jboss-cloud">JBoss-Cloud</a> 1.0.0.Beta4 release with <strong>Amazon EC2 support</strong>.</p>
<p>There are two public JBoss-Cloud AMI's:</p>
<ul>
<li><span class="value"><strong>ami-c17b9ca8</strong> &mdash; back-end-appliance<br /></span></li>
<li><strong>ami-d57b9cbc</strong> &mdash; front-end-appliance</li>
</ul>
<p>You can search also for <strong>oddthesis</strong> in AMI list, there will be always something fresh in our bucket to run. You can use tool you like to run our images, it could be <a href="https://console.aws.amazon.com/ec2/">AWS Management Console</a> or <a href="http://developer.amazonwebservices.com/connect/entry.jspa?externalID=609">Elasticfox</a>. For more information on running JBoss-Cloud on EC2 refer to <a href="/theses/jboss-cloud/projects/jboss-cloud/pages/jboss-cloud-on-amazon-ec2">this site</a>. For quick setup test we prepared <a href="/theses/jboss-cloud/projects/jboss-cloud/pages/setup-testing">node-info</a> application.</p>
<p>VMware and RAW images are also available for immediately <a href="http://repo.oddthesis.org/releases/jboss-cloud/1.0.0.Beta4/">download from our server</a>. Along with EC2 support we fixed several issues, so if you're using VMware it's worth to download this release too!</p>
<p>For command line lovers we have great news: from now it's possible to run and terminate EC2 instances directly from you command line! Just try our new commands (but first prepare your <a href="/theses/jboss-cloud/projects/jboss-cloud-support/pages/ec2-configuration-file">EC2 configuration file</a>):</p>
<pre>appliance:APPLIANCE_NAME:ec2:run<br />appliance:APPLIANCE_NAME:ec2:terminate</pre>
<p>As usual, all major changes are <a href="http://oddthesis.lighthouseapp.com/projects/19748-jboss-cloud/tickets/bins/14999">listed</a> in our tracking system. Source code is available at <a href="http://github.com/bobmcwhirter/jboss-cloud/tree/master">GitHub</a>. Feel free to blame us on <a href="irc://irc.freenode.net/jboss-cloud">IRC</a> or <a href="mailto:jboss-cloud-subscribe@oddthesis.org">mailing-list</a>.</p>
<p>Happy cloud-holidays!</p>
