---
title: "JBoss Cloud introduction video"
author: Marek Goldmann
layout: post
---
<p>Bob McWhirter's presentation recorded on JavaOne 2009 is now <a href="http://bit.ly/7gNKm">available</a>!</p>
<p><a href="http://bit.ly/7gNKm"><img src="http://farm3.static.flickr.com/2555/3681265656_a19e1032e0_o.png" alt="JBoss Cloud presentation, part 1" width="300" height="243" /></a></p>
<p>Don't forget to watch <a href="http://bit.ly/tHP1H">part two</a>. Happy watching!</p>
