---
title: "JBoss-Cloud 1.0.0.Beta3 released!"
author: Marek Goldmann
date: 2009-3-21
layout: post
---
<p>I'm happy to announce <a href='/theses/jboss-cloud/projects/jboss-cloud'>JBoss-Cloud</a> 1.0.0.Beta3 release. This release is focused on making JBoss-Cloud more modular, faster and easy to use. Full list of changes you can find <a href='http://oddthesis.lighthouseapp.com/projects/19748-jboss-cloud/tickets/bins/14145'>here</a>. Below are major changes in this release.</p>
<h3>JBoss-Cloud Support<br/></h3>
<p>Core of JBoss-Cloud was moved to <a href='/theses/jboss-cloud/projects/jboss-cloud-support'>JBoss-Cloud Support</a> project to give us (and you, obviously), more space to move. Now, if you want to build own appliances, you can use Support project directly. More information available on JBoss-Cloud Support <a href='/theses/jboss-cloud/projects/jboss-cloud-support/pages/documentation'>documentation page</a>.</p>
<h3>Wizard<br/></h3>
<p>Wizard was completely rewritten. Now it is very useful and user friendly. Major changes are highlighted in my <a href='/posts/2009-03-jboss-cloud-core-wizard-vmware-roadmap'>last post</a> on JBoss-Cloud (highly recommended to read). Take a look at the <a href='/theses/jboss-cloud/projects/jboss-cloud-support/pages/wizard'>documentation</a> on how to use it.</p>
<h3>Documentation upgrade<br/></h3>
<p>Documentation for both project, <a href='/theses/jboss-cloud/projects/jboss-cloud/pages/documentation'>JBoss-Cloud</a> and <a href='/theses/jboss-cloud/projects/jboss-cloud-support/pages/documentation'>JBoss-Cloud Support</a> was updated and reflects now all changes. I you want to know more, just check these pages.</p>
<p>If you want to start with JBoss-Cloud immediately please read <a href='/theses/jboss-cloud/projects/jboss-cloud/pages/how-to-start'>how to start page</a>.</p>
<h3>Get it...<br/></h3>
<p>JBoss-Cloud 1.0.0.Beta3 appliances are available for download <a href='http://repo.oddthesis.org/releases/jboss-cloud/1.0.0.Beta3/'>here</a>. Source code for 1.0.0.Beta3 is available from <a href='http://github.com/bobmcwhirter/jboss-cloud/tree/1.0.0.Beta3'>GitHub</a>.</p>
<p>Remember, you can always grab latest sources from <a href='http://github.com/bobmcwhirter/jboss-cloud/tree/master'>JBoss-Cloud</a> and <a href='http://github.com/goldmann/jboss-cloud-support/tree/master'>JBoss-Cloud Support</a>&nbsp; from GitHub.</p>
<h3>...and get in touch with us</h3>
<p>We're always looking for your feedback. Meet us in <a href='irc://irc.freenode.net/jboss-cloud'>#jboss-cloud</a> IRC channel on freenode. If you want to talk with us on mailing list, feel free to subscribe by sending an email to:</p>
<pre><a href='mailto:jboss-cloud-subscribe@oddthesis.org' title='Subscribe to jboss-rails'>jboss-cloud-subscribe@oddthesis.org</a></pre>
<p>You can <a href='http://oddthesis.markmail.org/search/list:org.oddthesis.jboss-cloud'>search the archives</a> via MarkMail too.</p>
<p>If you have have an idea on how to make our Cloud better (or found a bug) &mdash; file a new ticket on <a href='http://oddthesis.lighthouseapp.com/projects/19748-jboss-cloud/overview'>Lighthouse</a>.</p>
<h3>Future plans</h3>
<p>Next release will be focused on Amazon EC2 support. Subscribe to <a href='/'>oddthesis.org</a> for news. You can follow JBoss-Cloud on <a href='http://twitter.com/jbosscloud'>Twitter</a> too!</p>
