---
title: "JBoss Virtual Experience: Presentation Slides"
author: Bob McWhirter
date: 2009-1-6
layout: post
---
<p>My slides for the <a href='http://www-2.virtualevents365.com/jboss_experience/' title='JBoss Virtual Experience'>JBoss Virtual Experience</a> (JBoss Rails and JBoss in the Cloud) are due close-of-business today (about 6 hours ago).&nbsp; Of course, that really means start-of-business tomorrow, thankfully.</p>
<p>The Marketing gurus say I can publish them before the event, so here we go.&nbsp; <a href='/system/assets/jbve-preso.pdf' title='JBoss Virtual Experience presentation'>Here's 70 slides of goodnes (PDF)</a> to be presented in 30 minutes about 2 distinct projects. I recommend reviewing the slides before the <a href='http://www-2.virtualevents365.com/jboss_experience/' title='JBoss Virtual Experience'>JBVE</a> presentation, as we'll be zipping through these fairly quickly.&nbsp; You gotta keep up!</p>
<p>I really think this probably should have been 2 individual presentations, but it is what it is, now.&nbsp; So enjoy a <a href='/system/assets/jbve-preso.pdf' title='JBoss Virtual Experience presentation'>double-shot of bullet-point love (PDF)</a>.</p>
<p><a href='/system/assets/jbve-preso.pdf' title='JBoss Virtual Experience presentation'><img src='/images/archive/jbve-preso-059.png' height='249' alt='' width='333'/></a></p>
<p>&nbsp;</p>
