---
title: "JBoss Rails becomes TorqueBox"
author: Bob McWhirter
layout: post
---
<p>Due to the success of the JBoss Rails thesis, we're taking the next step.&nbsp; Since it has outgrown its original name, doing way more than just Rails compatibility, we're renaming the project to <a title="TorqueBox" href="http://torquebox.org/">TorqueBox</a>.</p>
<p>And giving it a logo:</p>
<p><img src="http://torquebox.org/images/torqueboxSmall.png" alt="TorqueBox Logo" width="148" height="33" /></p>
<p>And its own site:</p>
<p style="text-align: center;"><a title="TorqueBox site" href="http://torquebox.org/">http://torquebox.org/</a></p>
<p>See <a title="Announcing the TorqueBox project" href="http://torquebox.org/news/2009/05/announcing-the-torquebox-project">the announcement over there</a> for more information, including the latest release of the code.</p>
<p>JBoss Rails here at Odd Thesis will be moth-balled, deprecated, but kept around for historical purposes.</p>
