---
title: "TorqueBox 1.0.0.Beta12 Released"
author: Bob McWhirter
date: 2009-5-25
layout: post
---
<p>TorqueBox, the project formerly known as JBoss-Rails, has just released version 1.0.0.Beta12.&nbsp; Details are available over on <a href='http://torquebox.org/news/2009/05/torquebox-1-0-0-beta12-released' title='TorqueBox 1.0.0.Beta12 Release Announcement'>the TorqueBox site</a>.</p>
