---
title: "JBoss-Rails 1.0.0.Beta4 in time for the weekend"
author: Bob McWhirter
date: 2009-3-6
layout: post
---
<p>I'm happy to announce after quite a lag, there's a new version of JBoss-Rails available with lots of new features. Just in time for playing with it over the weekend!</p>
<p>This release sees a solidification of the <a title="Job Scheduling" href="/theses/jboss-rails/projects/jboss-rails/pages/job-scheduling"><strong>Job Scheduling</strong></a> component, along with the addition of the <a title="Ruby SOAP Endpoints" href="/theses/jboss-rails/projects/jboss-rails/pages/ruby-soap-endpoints"><strong>Ruby SOAP Endpoints</strong></a> component.&nbsp; The SOAP stuff also brings along support for <a title="crypto.yml" href="/theses/jboss-rails/projects/jboss-rails/pages/crypto-yml">cyrptographic keystores</a> and XML-to-Ruby-to-XML databinding.</p>
<p>Additionally, we've upgraded the version of JRuby (1.2RC1 now) and removed a dependency on JRuby-Rack.</p>
<p><strong>New and updated <a title="JBoss-Rails Documentation" href="/theses/jboss-rails/projects/jboss-rails/pages/documentation">documentation</a> now exists.</strong></p>
<p>We've also created a <a title="Your first Rails App on JBoss Rails" href="/theses/jboss-rails/projects/jboss-rails/pages/your-first-app-on-jboss-rails">"My first Rails App(tm)" walk-through</a> to get you started on that weekend project of doing a mash-up between your sprinkler-system and Twitter.</p>
<p>All of the artifacts are available from our <a title="Odd Thesis Maven repository" href="http://repo.oddthesis.org/maven2/">newly-minted Maven repository</a>.</p>
<p>This includes:</p>
<ul>
<li><a title="JBoss-Rails binary distribution" href="http://repo.oddthesis.org/maven2/org/jboss/rails/jboss-rails/1.0.0.Beta4/jboss-rails-1.0.0.Beta4-bin.zip">The complete binary distribution</a> (~30mb)</li>
<li><a title="JBoss-Rails Deployer" href="http://repo.oddthesis.org/maven2/org/jboss/rails/jboss-rails/1.0.0.Beta4/jboss-rails-1.0.0.Beta4-deployer.jar">The standalone JBoss-Rails deployer jar</a> (~30mb, drag'n'drop, you're done)</li>
<li><a title="JBoss-Rails Support bundle" href="http://repo.oddthesis.org/maven2/org/jboss/rails/jboss-rails/1.0.0.Beta4/jboss-rails-1.0.0.Beta4-support.zip">The jboss-rails-support component</a> (~7kb) for your Rails app (we also have instructions for <a title="Install jboss-rails-support" href="/theses/jboss-rails/projects/jboss-rails-support/pages/installation">installing this via git</a>.)</li>
</ul>
<p>As always, we're available to chat on FreeNode, on the <a title="#jboss-rails on FreeNode" href="irc://irc.freenode.net/jboss-rails">#jboss-rails</a> channel.</p>
<p>And you can join the <strong>jboss-rails@</strong> mailing list by sending an email to</p>
<blockquote>
<p><a title="Subscribe to jboss-rails" href="mailto:jboss-rails-subscribe@oddthesis.org">jboss-rails-subscribe@oddthesis.org</a></p>
</blockquote>
<p>The archives are <a title="jboss-rails@ archives" href="http://oddthesis.markmail.org/search/?q=">available through MarkMail</a>.</p>
<p>If you have bugs or feature-requests, drop them on the <a title="JBoss-Rails Lighthouse" href="http://oddthesis.lighthouseapp.com/projects/19747-jboss-rails">JBoss-Rails Lighthouse instance</a>.</p>
<p>Sources are available on GitHub:</p>
<ul>
<li><a title="JBoss-Rails on GitHub" href="http://github.com/bobmcwhirter/jboss-rails/tree/master">jboss-rails</a></li>
<li><a title="JBoss-Rails Support on GitHub" href="http://github.com/bobmcwhirter/jboss-rails-support/tree/master">jboss-rails-support</a></li>
</ul>
