---
title: "VM2 Command Reference"
author: Bob McWhirter
layout: post
---
<p>I've begun documenting the <a title="VM2" href="/theses/jboss-cloud/projects/vm2">VM2</a> layer that allows VMWare to behave not unlike EC2.</p>
<p>Check out the <a title="VM2 Command Reference" href="/theses/jboss-cloud/projects/vm2/pages/vm2-command-reference">command-reference</a> for information on registering and deregistering images, starting and terminating instances, and much more.</p>
<p>VM2 is the environment I use to demonstrate the <a title="JBoss-Cloud" href="/theses/jboss-cloud/projects/jboss-cloud">JBoss-Cloud</a> appliances in my <a title="JBVE Presentation" href="/posts/2009-01-jboss-virtual-experience-presentation-slides">JBoss Virtual Experience presentation</a>.</p>
