---
title: "JBoss Cloud introduction video"
author: Marek Goldmann
date: 2009-7-2
layout: post
---
<p>Bob McWhirter's presentation recorded on JavaOne 2009 is now <a href='http://bit.ly/7gNKm'>available</a>!</p>
<p><a href='http://bit.ly/7gNKm'><img src='/images/archive/3681265656_a19e1032e0_o.png' height='243' alt='JBoss Cloud presentation, part 1' width='300'/></a></p>
<p>Don't forget to watch <a href='http://bit.ly/tHP1H'>part two</a>. Happy watching!</p>
