---
title: "JBoss Rails becomes TorqueBox"
author: Bob McWhirter
date: 2009-5-18
layout: post
---
<p>Due to the success of the JBoss Rails thesis, we're taking the next step.&nbsp; Since it has outgrown its original name, doing way more than just Rails compatibility, we're renaming the project to <a href='http://torquebox.org/' title='TorqueBox'>TorqueBox</a>.</p>
<p>And giving it a logo:</p>
<p><img src='/images/archive/torqueboxSmall.png' height='33' alt='TorqueBox Logo' width='148'/></p>
<p>And its own site:</p>
<p style='text-align: center;'><a href='http://torquebox.org/' title='TorqueBox site'>http://torquebox.org/</a></p>
<p>See <a href='http://torquebox.org/news/2009/05/announcing-the-torquebox-project' title='Announcing the TorqueBox project'>the announcement over there</a> for more information, including the latest release of the code.</p>
<p>JBoss Rails here at Odd Thesis will be moth-balled, deprecated, but kept around for historical purposes.</p>
