---
title: "Put Java in your Rails apps with Maven"
author: Bob McWhirter
layout: post
---
<p>I just knocked up a quick page on using Maven to build the Java portion of your JBoss-Rails app, if you're doing a hybrid multi-language app.</p>
<p>Anyhow, please check out <a title="Using Maven for your mixed-language project" href="/theses/jboss-rails/projects/jboss-rails/pages/using-maven">Using Maven for your mixed-language project</a>.</p>
