---
title: "JBoss Cloud at TriJUG"
author: Bob McWhirter
date: 2009-7-21
layout: post
---
<p>Last night I was invited to present about JBoss Cloud at the July meeting of TriJUG.&nbsp; I'd say it went over well, and a lot of questions and conversations ensued following.</p>
<p><a href='http://fnokd.com/~bob/TriJUG.pdf' title='TriJUG slides'>Here are the slides.</a></p>
<p><a href='http://fnokd.com/~bob/TriJUG.pdf' title='TriJUG slides'><img src='/images/archive/TriJUG.026.png' height='236' alt='' width='315'/></a></p>
